{% extends 'layouts/base.jinja' %}

{% block title %}
    Профайл
{% endblock %}

{% block content %}

<div class="bg-grey-lighter h-screen">
    <div class="container mx-auto h-full flex justify-center items-center">
        <div id="profile" data-logout="{{ url('logout') }}"></div>
    </div>
</div

{% endblock %}